[Unit]
Description=Stores incoming topics, publishes acks to requests
BindsTo=mosquitto.service

[Service]
WorkingDirectory=/root/software/storage_server/
Type=simple
ExecStart=python3 main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target